<div class="container-fluid">
  <form #EmployeeDetails="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="idFirstName" name="idFirstName" ngModel>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="idLastName" name="idLastName" ngModel>
    </div>
    <div class="form-group">
      <label for="firstName">Age</label>
      <input type="text" class="form-control" id="idAge" name="idAge" ngModel>
    </div>
    <div class="form-group">
      <label for="emailID">Email ID</label>
      <input type="email" class="form-control" id="idEmail" aria-describedby="emailHelp" name="idEmail" ngModel>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="idCheckBox" name="idCheckBox" ngModel>
      <label class="form-check-label" for="exampleCheck1">Agree</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div>Values as JSON : {{EmployeeDetails.value | json }}</div>
